<header>
  <h1>Welcome to Mastermind!</h1>
  <nav>
    <ul>
      <li><a href="/play/code_breaker">Play as code breaker</a></li>
      <li><a href="/play/code_maker">Play as code maker</a></li>
    </ul>
  </nav>
</header>
